.containerVacancies {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 150px;
  overflow: hidden;
  margin-top: 2%;

  font-family: Rubik, sans-serif;
  color: #000;
  font-style: normal;
  line-height: normal;
  @media (max-width: 768px) {
  }
}

.title{
  font-size: 1.875vw;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.57% 0 0 53.4% ;
}

.title::before{
  content: "•";
  color: #000000;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.redRect {
  width: 52.08%;
  height: 29.48vw;
  margin: -2.81% 0 0 -2.65%;
  background: #D54D49;
  .creation {
    width: 20.47vw;
    height: 7.24vw;
    margin-left: 7.4vw;
  }
}

.cards {
  width: 100%;
  height: 25.88vw;
  margin: -21.5% 0 0 11.56%;
  display: flex;
  flex-direction: row;
  .card {
    width: 24.64vw;
    height: 100%;
    border: 0.1vw solid #000;
    background: #F3F3F1;
  }
  .card1 {
    .cardImg {
      width: 16.04vw;
      height: 15.57vw;
      margin: 2.29vw 0 0 7.71vw;
    }
    .name {
      width: 22.55vw;
      height: 11.11vw;
      margin: -6.3vw 0 0 0.68vw;
    }
    button {
      width: 17.81vw;
      height: 2.71vw;
      margin: 0.13vw 0 0 6.35vw;
      background: #0753D2;
      padding: 0.57vw 0.26vw 0.31vw 5.84vw;
      color: #FFF;
      font-family: "Rubik Mono One", monospace;
      font-size: 1.46vw;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  .card2 {
    margin-left: 2.4%;
    .horizontalLine {
      width: 100%;
      height: 0.1vw;
      background: #000000;
      margin-top: 1.88vw;
    }
    .cardImg {
      width: 21.77vw;
      height: 15.52vw;
      margin-left: 0.57vw;
    }
    .name {
      width: 21.43vw;
      height: 7.61vw;
      margin: -1.98vw 0 0 1.88vw;
    }
    button {
      margin: 0.62vw 0 0 7.86vw;
      color: #D54D49;
      font-size: 1.46vw;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  .card3 {
    margin-left: 3.2%;
    .cardImg {
      width: 21.77vw;
      height: 12.55vw;
      margin: 2.29vw 0 0 auto;
    }
    .name {
      width: 21.43vw;
      height: 7.61vw;
      margin: -1.61vw 0 0 2.71vw;
    }
    button {
      margin: 1.28vw 0 0 1.2vw;
      padding: 0.78vw 8.33vw 0.21vw 0.62vw;
      background: #D54D49;
      color: #FFF;
      font-size: 1.46vw;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}






