.containerReviews {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-width: 150px;
  overflow: hidden;

  color: #000;
  font-family: Rubik, sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @media (max-width: 768px) {
  }
}

.name{
  font-size: 1.45vw;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.reviews{
  width: 13.13%;
  height: 7.24vw;
  margin: 1.82% 0 0 43.44%;
}

.photo1 {
  width: 29.32%;
  height: 13.54vw;
  margin: -3.59% 0 0 5.21%;
}
.name1 {
  margin: -7.65% 0 0 35.63%;
}
.reviews1 {
  margin: 0.57% 0 0 21.09%;
  padding: 1.56% 0.31% 0.78% 1.20%;
  border: 0.10vw solid #000;
  background: #F3F3F1;
  p{
    width: 24vw;
  }
}

.contReviews2{
  position: relative;
  width: 31.77%;
  height: 9.22vw;
  margin: -10.47% 0 0 50.88%;
  .unionReviews2{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .reviews2{
    width: 72%;
    margin: 4% 0 0 7.3%;
  }
}
.photo2{
  width: 30.68%;
  height: 13.54vw;
  margin: -6.15% 0 0 64.2%;
  z-index: -2;
}

.photo3{
  width: 21.93%;
  height: 13.54vw;
  margin: -7.76% 0 0 5.21%;
  z-index: -2;
}
.contReviews3{
  position: relative;
  width: 26.35%; //506px
  height: 17.45vw;
  margin: -10.87% 0 0 17.08%;
  .unionReviews3{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .name3{
    margin: 5.7% 0 0 19.7%;
  }
  .reviews3{
    width: 71.5%;
    margin: 4.3% 0 0 19.7%;
  }

}

.contReviews4{
  position: relative;
  width: 19.38%; //372
  height: 16.46vw;
  margin: -16.77% 0 0 54.69%;
  border: 0.1vw solid #000;
  background: #F3F3F1;
  .reviews41{
    margin: 7.5% 0 0 6%;
  }
  .reviews42{
    width: 88.5%;
    margin: 4% 0 0 6%;
  }
  .name4{
    margin: 10% 0 0 6%;
  }

}
.photo4{
  width: 21.93%;
  height: 13.54vw;
  margin: -11.15% 0 0 72.97%;
  z-index: -2;
}

.horizontalLine{
  width: 99.9%;
  height: 0.15vw;
  background: #242424;
  margin: 3.7% 0 0 0.1%;
  @media (max-width: 768px) {
  }
}


